<h1>New Character</h1>

<%= form_for :character, url: characters_path do |f| %>

<p>
  <%= f.label :name %><br>
  <%= f.text_field :charname %>
</p>
<p>
  <%= f.label :level %><br>
  <%= f.text_field :level %>
<p>
    
</p>
  <%= f.label :class %><br>  
<%= f.select :charclass, [['Fighter', 'fighter'],['Barbarian', 'barbarian']] %>
</p>

<p>
<%= f.label :strength %><br>
<%= f.text_field :strength %>
</p>

<p>
<%= f.label :dexterity %><br>
<%= f.text_field :dexterity %>
</p>

<p>
<%= f.label :constitution %><br>
<%= f.text_field :constitution %>
</p>

<p>
<%= f.label :intelligence %><br>
<%= f.text_field :intelligence %>
</p>

<p>
<%= f.label :wisdom %><br>
<%= f.text_field :wisdom %>
</p>

<p>
<%= f.label :charisma %><br>
<%= f.text_field :charisma %>
</p>

<p>
<%= f.label :race %><br>
<%= f.select :race, [['Dragonborn', 'dragonborn'],['Dwarf', 'dwarf'],['Elf', 'elf'],['Halfling', 'halfling'],['Human', 'human'],['Gnome', 'gnome'],['Half-Elf', 'half-elf'],['Half-Orc', 'half-orc'],['Tiefling', 'tiefling']] %>
</p>

<p>
  <%= f.submit %>  
</p>

<% end %>