<p>Name:
<%= @character.charname %>
</p>
<p>Race:
<%= @character.race %>
</p>
<p>Level:
<%= @character.level %>
</p>
<p>Class:
<%= @character.charclass %>
</p>
<p>Strength:
<%= @character.strength %>
</p>
<p>Dexterity:
<%= @character.dexterity %>
</p>
<p>Constitution:
<%= @character.dexterity %>
</p>
<p>Wisdom:
<%= @character.dexterity %>
</p>
<p>Intelligence:
<%= @character.dexterity %>
</p>
<p>Charisma:
<%= @character.dexterity %>
</p>